* {
  margin: 0; 
  padding: 0;
  font-family: 'Outfit', sans-serif;
}


body{
  background-color: hsl(212, 45%, 89%);
  padding: 60px;
  display: flex;
  align-items: center;
  font-size: 15px;
}

.container {
  margin: 0 auto;
  width: 350px;
}

.qr-container {
  background-color: #fff;
  padding: 18px;
  border-radius: 18px;
  text-align: center;
}

.qr-container img {
  width: 100%;
  border-radius: 10px;
}

.qr-container h2 {
  padding: 20px;
  color:hsl(218, 44%, 22%)
}

.qr-container p {
  padding: 0 30px;
  margin-top: 5px;
  margin-bottom: 18px;
  color: hsl(220, 15%, 55%)
}